:root {
    --primary-purple: #512888;
    --accent-red: #B11226;
    --accent-blue: #062A77;
    --text-off-white: #F2F2F2;
}

body {
    width: 220px;
    font-family: 'Merriweather', serif;
    text-align: center;
    margin: 0;
    padding: 10px;
    background-color: var(--primary-purple);
    color: var(--text-off-white);
}

h2 {
    margin-bottom: 20px;
}

.bias-container {
    margin-bottom: 15px;
}

.bias-label {
    margin-bottom: 5px;
    font-weight: bold;
}

.progress-bar {
    width: 100%;
    height: 15px;
    background-color: #ddd;
    border-radius: 7.5px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    width: 0%;
    transition: width 0.5s ease-in-out;
}

#left-bar { background-color: var(--accent-blue); }
#center-bar { background-color: #9465d1; }
#right-bar { background-color: var(--accent-red); }
